.icon-logo {

}

.icon-phone {
    display: inline-block;
    fill: #434D54;
    font-size: 1.6rem;
    width: 1em;
    height: 1.1em;
}

.icon-user {
    display: inline-block;
    fill: #434D54;
    font-size: 1.6rem;
    width: 1em;
    height: 1em;
}

.icon-user-outline{
    display: inline-block;
    fill: #434D54;
    font-size: 1.8rem;
    width: 1em;
    height: 1em;
}

.icon-basket {
    display: inline-block;
    fill: #434D54;
    font-size: 1.5rem;
    width: 1em;
    height: 1em;
}

.icon-search {
    display: inline-block;
    fill: #434D54;
    font-size: 1.7rem;
    width: 1em;
    height: 1em;
}

.icon-hamburger {
    display: inline-block;
    fill: #434D54;
    font-size: 2rem;
    width: 1em;
    height: .8em;
}

.icon-arrow-left {
    display: inline-block;
    fill: #434D54;
    font-size: .7rem;
    width: 1em;
    height: 1.6em;
}

.icon-arrow-up {
    display: inline-block;
    fill: #434D54;
    font-size: 1.2rem;
    width: 1em;
    height: .8em;
}

.icon-arrow-bottom {
    display: inline-block;
    fill: #434D54;
    font-size: 1.2rem;
    width: 1em;
    height: .8em;
}

.icon-arrow-right-double {
    display: inline-block;
    fill: #434D54;
    font-size: 1.8rem;
    width: 1em;
    height: .6em;
}

.icon-heart {
    display: inline-block;
    fill: none;
    stroke: #434D54;
    stroke-width: .2rem;
    font-size: 2.2rem;
    width: 1em;
    height: .8em;
}

.icon-heart-outline {
    display: inline-block;
    fill: #434D54;
    font-size: 2.2rem;
    width: 1em;
    height: .8em;
}

.icon-triangle {
    display: inline-block;
    fill: #434D54;
    font-size: .9rem;
    width: 1em;
    height: .6em;
}

.icon-plus {
    display: inline-block;
    fill: #434D54;
    font-size: 1.6rem;
    width: 1em;
    height: 1em;
}

.icon-minus {
    display: inline-block;
    fill: #434D54;
    font-size: .7rem;
    width: 1em;
    height: .3em;
}

.icon-catalog {
    display: inline-block;
    fill: #434D54;
    font-size: 1.8rem;
    width: 1em;
    height: 1em;
}

.icon-time {
    display: inline-block;
    fill: #434D54;
    font-size: 2rem;
    width: 1em;
    height: .8em;
}

.icon-point {
    display: inline-block;
    fill: #434D54;
    font-size: 1.2rem;
    width: 1em;
    height: 1.2em;
}

.icon-close {
    display: inline-block;
    fill: #434D54;
    font-size: 1.2rem;
    width: 1em;
    height: 1em;
}

.icon-share {
    display: inline-block;
    fill: #434D54;
    font-size: 1.8rem;
    width: 1em;
    height: 1em;
}

.icon-trash-bin {
    display: inline-block;
    fill: #434D54;
    font-size: 1.5rem;
    width: 1em;
    height: 1.2em;
}

.icon-card {
    display: inline-block;
    fill: #434D54;
    font-size: 1.6rem;
    width: 1em;
    height: .7em;
}

.icon-pencil {
    display: inline-block;
    fill: #434D54;
    font-size: 1.6rem;
    width: 1em;
    height: .7em;
}

.icon-point-outline {
    display: inline-block;
    fill: #434D54;
    font-size: 1.6rem;
    width: 1em;
    height: .7em;
}

.icon-exit {
    display: inline-block;
    fill: #434D54;
    font-size: 1.8rem;
    width: 1em;
    height: 1em;
}
